background {
  background-image: radial-gradient(at center center, rgb(255, 255, 255) 75%, rgb(230, 200, 230) 100%);
  position: fixed;
  height: 100%;
  width: 100%;
}

.container {
  font-family: 'Amatic SC', cursive;
}

.main-title {
  font-family: 'Handlee', cursive;
  font-weight: lighter;
}

@media screen and (min-width: 769px) {
  .main-title {
    font-size: 8rem !important;
  }
}

@media screen and (max-width: 769px) {
  .main-title {
    font-size: 5rem !important;
  }
}

.title {
  font-family: 'Dancing Script', cursive;
}

precious {
  color: rgb(255, 215, 0);
}